---
layout: layouts/base.njk
title: Exhibitions | BerriBlue
---

<div class="section section--white">
  <div class="section-inner">

    <h1 class="exhibitions-heading">Exhibitions</h1>

    <ul class="exhibitions-list">
      <li><span class="ex-year">2025</span> <em>Jedna Trzecia</em>, Miejskie Centrum Kultury, Bydgoszcz</li>
      <li><span class="ex-year">2024</span> <em>Canvas</em>, (group show) Comune di Vietri sul Mare, Amalfi Coast</li>
      <li><span class="ex-year">2024</span> <em>Culminations</em>, 2regards Atelier, Porto</li>
      <li><span class="ex-year">2023</span> XIV Florence Biennale, (group show) Fortezza da Basso, Florence</li>
      <li><span class="ex-year">2022</span> <em>Se As Paredes Falassem</em>, (group show) Ap'arte, Porto</li>
      <li><span class="ex-year">2021</span> <em>Sztuka Ulicy</em> (auction) DESA unicum, Warsaw</li>
      <li><span class="ex-year">2020</span> (<em>unnamed</em>), Galerie Sonia Monti, Paris</li>
      <li><span class="ex-year">2020</span> <em>Miłość w Czasach Zarazy</em>, Urtiga, Porto</li>
      <li><span class="ex-year">2019</span> <em>The Horse &amp; The Fish</em>, theLAB, Porto</li>
      <li><span class="ex-year">2018</span> <em>Tension</em>, The Vintage Dept., Porto</li>
      <li><span class="ex-year">2018</span> <em>Between Heart and Heaven</em>, (group show) DaVinci, Porto</li>
      <li><span class="ex-year">2014</span> <em>The Studio</em>, Filmbase, Dublin</li>
      <li><span class="ex-year">2014</span> An Exhibition of Prints &amp; Drawings, The White Lady Gallery, Dublin</li>
      <li><span class="ex-year">2012</span> <em>JTB</em>, The Yellow Box, Dublin</li>
    </ul>

  </div>
</div>
